root = true
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
# Naming rules
dotnet_naming_rule.private_fields_should_be_camel_case.severity dotnet_naming_rule.private_fields_should_be_camel_case.symbols dotnet_naming_rule.private_fields_should_be_camel_case.style dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities dotnet_naming_style.camel_case_style.capitalization = camel_[*.{ts,tsx,js,jsx}]
indent_size = 2
[*.{json,yml,yaml}]
indent_size = 2
[*.md]
trim_trailing_whitespace = false